{% extends 'base.html' %}

{% block title %}
    YouTube Download - Jobs
{% endblock %}

{% block header %}
    Job Status
{% endblock %}

{% block content %}
    <table id="jobs-table" class="display datatable" style="width:100%">
        <thead>
            <tr>
                <td>Video Title</td>
                <td>Path</td>
                <td>Type</td>
                <td>Status</td>
                <td>Enqueued at</td>
                <td>Started at</td>
                <td>Ended at</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>
                    {% if job['status'] == 'failed' %}
                        <a href="{{ job['url'] }}" target=”_blank”>{{ job['video_title'] }}</a>
                    {% else %}
                        {{ job['video_title'] }}
                    {% endif %}
                </td>
                <td>
                    {{ job['path'] }}
                </td>
                <td>
                    {{ job['type'] }}
                </td>
                <td>
                    {% if job['status'] == 'failed' %}
                        <a href="{{ url_for('show_error', id=job['id']) }}">{{ job['status'] }}</a>
                    {% else %}
                        {{ job['status'] }}
                    {% endif %}
                </td>
                <td>
                    {{ job['enqueued_at'] }}
                </td>
                <td>
                    {{ job['started_at'] }}
                </td>
                <td>
                    {{ job['ended_at'] }}
                </td>
                <td style="white-space:nowrap;">
                    {% if job['status'] == 'failed' %}
                        <a class="btn btn-success btn-sm" href="{{ url_for('requeue_job', id=job['id']) }}"><i class="fa fa-redo"></i></a>
                        <a class="btn btn-danger btn-sm" href="{{ url_for('delete_failed_job', id=job['id']) }}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-alt"></i></a>
                    {% elif job['status'] == 'started' %}
                        <a class="btn btn-danger btn-sm" href="{{ url_for('stop_job', id=job['id']) }}"><i class="fas fa-stop"></i></a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
