{% extends 'base.html' %}

{% block title %}
    YouTube Download - Jobs
{% endblock %}

{% block header %}
    Job Status
{% endblock %}

{% block content %}
    <table id="jobs-table" class="display">
        <thead>
            <tr>
                <td>Video Title</td>
                <td>Status</td>
                <td>Enqueued at</td>
                <td>Started at</td>
                <td>Ended at</td>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>
                    {% if job['status'] == 'failed' %}
                        <a href="{{ job['url'] }}" target=”_blank”>{{ job['video_title'] }}</a>
                    {% else %}
                        {{ job['video_title'] }}
                    {% endif %}
                </td>
                <td>
                    {% if job['status'] == 'failed' %}
                        <a href="{{ url_for('show_error', id=job['id']) }}">{{ job['status'] }}</a>
                    {% else %}
                        {{ job['status'] }}
                    {% endif %}
                </td>
                <td>
                    {{ job['enqueued_at'] }}
                </td>
                <td>
                    {{ job['started_at'] }}
                </td>
                <td>
                    {{ job['ended_at'] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
